h1 {
	text-align:center;
	font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif; 
	margin: 2% auto;
}

body {
	background-color:#ffffcc;
	font-family:Verdana, sans-serif;
}
#gameBoard {
	border: 3px solid black;
	border-radius:7px;
	display: grid;
	grid-template-columns: 120px 120px 120px 120px 120px;
	grid-template-rows: 120px 120px 120px 120px 120px;
	justify-content: center;
	width: 600px;
	height: 600px;
	
	margin-left:auto;
	margin-right:auto;
	margin-top:1.5%;
}

#gameBoard div {
	background-color: #00EE00;
}

.instructions {
	display:absolute;
	
	border:solid 2px black;
	border-radius:13px;
	padding:5px;
	background-color:#ffffcc;
	width:55%;
	
	margin: 1.75% auto;
	
	font-size:11px;
	line-height: 1.6;
}

.instructions h1 {
	font-size:28px;
}

#startlink {
	display:absolute;
	
	border:solid 2px black;
	border-radius:13px;
	padding:5px;
	background-color:#ffffcc;
	width:55%;
	
	margin: 1.75% auto;
	
}

.message {
	display:none;
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,1.0);
	color:white;
	font-size:3em;
	vertical-align:top;
	text-align:center;
	line-height:100vh;
}

.link {
	border:solid 6px white;
	color:white;
	border-radius:6px;
	padding:10px;
	background-color:green;
}

#buttonPosition {
	text-align: center;
	margin:17px;
}

#restartButton {
	font-family:Verdana, sans-serif;
	
	border: 2px solid #222222;
	padding: 5px;
	border-radius:6px;
	
	background-color: #BBEEBB;
	color: #222222;
}

#makewidthWORK {
	display:absolute;
	width:25%;
	text-align:center;
	margin: 0 auto;
}

a:visited {
	color:black;
}

a:link {
  color: black;
}

.i {
	font-style:italic;
}

.rider {
	background-image:url("images/rider.png");
}

.tree {
	background-image:url("images/tree.png");
}

.tree2 {
	background-image:url("images/tree2.png");
}

.flag {
	background-image:url("images/flag.png");
}

.rock {
	background-image:url("images/rock.png");
}

.water {
	background-image:url("images/water.png");
}

.waterr {
	background-image:url("images/waterr.png");
}

.waters {
	background-image:url("images/waters.png");
}

.waterc {
	background-image:url("images/waterc.png");
}


.fenceside {
	background-image:url("images/fenceside.png");
}

.fenceup {
	background-image:url("images/fenceup.png");
}


.horseup {
	background-image:url("images/horseup.png");
}

.horseright {
	background-image:url("images/horseright.png");
}

.horseleft {
	background-image:url("images/horseleft.png");
}

.horsedown {
	background-image:url("images/horsedown.png");
}


.horserideup {
	background-image:url("images/horserideup.png");
}

.horserideright {
	background-image:url("images/horserideright.png");
}

.horserideleft {
	background-image:url("images/horserideleft.png");
}

.horseridedown {
	background-image:url("images/horseridedown.png");
}


.jumpdown {
	background-image:url("images/jumpdown.png");
}

.jumpup {
	background-image:url("images/jumpup.png");
}

.jumpright {
	background-image:url("images/jumpright.png");
}

.jumpleft {
	background-image:url("images/jumpleft.png");
}


.enemyup {
	background-image:url("images/enemyup.png");
}

.enemydown {
	background-image:url("images/enemydown.png");
}

.enemyright {
	background-image:url("images/enemyright.png");
}

.enemyleft {
	background-image:url("images/enemyleft.png");
}

.bridge {
	background-color:#800020 !important;
}