body {
	background-color:black;
}

#gameBoard {
	border: 1px solid black;
	display: grid;
	grid-template-columns: 120px 120px 120px 120px 120px;
	grid-template-rows: 120px 120px 120px 120px 120px;
	justify-content: center;
	width: 600px;
	height: 600px;
	
	margin-left:auto;
	margin-right:auto;
}

#gameBoard div {
	background-color: #00EE00;
}

.rider {
	background-image:url("images/rider.png");
}

.tree {
	background-image:url("images/tree.png");
}

.flag {
	background-image:url("images/flag.png");
}

.rock {
	background-image:url("images/rock.png");
}

.water {
	background-image:url("images/water.png");
}


.fenceside {
	background-image:url("images/fenceside.png");
}

.fenceup {
	background-image:url("images/fenceup.png");
}


.horseup {
	background-image:url("images/horseup.png");
}

.horseright {
	background-image:url("images/horseright.png");
}

.horseleft {
	background-image:url("images/horseleft.png");
}

.horsedown {
	background-image:url("images/horsedown.png");
}


.horseuprider {
	background-image:url("images/horseuprider.png");
}

.horserightrider {
	background-image:url("images/horserightrider.png");
}

.horseleftrider {
	background-image:url("images/horseleftrider.png");
}

.horsedownrider {
	background-image:url("images/horsedownrider.png");
}


.jumpdown {
	background-image:url("images/jumpdown.png");
}

.jumpup {
	background-image:url("images/jumpup.png");
}

.jumpright {
	background-image:url("images/jumpright.png");
}

.jumpleft {
	background-image:url("images/jumpleft.png");
}


.enemyup {
	background-image:url("images/enemyup.png");
}

.enemydown {
	background-image:url("images/enemydown.png");
}

.enemyright {
	background-image:url("images/enemyright.png");
}

.enemyleft {
	background-image:url("images/enemyleft.png");
}

.bridge {
	background-color:#800020 !important;
}